.container {
    min-width: 100vw;
    height: 80vh;
    background-color: aqua;
    overflow: hidden;
    background-image: url('./assets/BG1.png');
    background-size: contain;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* left pattern */
.first-container {
    display: flex;
    flex:6;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.first {
    flex:3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */

    
}
.information-container {
    display:flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 200px;
    max-width: 500px;
    max-height: 80vh;
    margin: 0;
    float: left;
    align-items: center;
    justify-content: flex-start;
    background-color: #460000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    
}
.information-container > h4 {
    margin:0
}
.body-information {
    margin:10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.counter-container {
    width: 180px;
    background-color: lightcyan;
    margin: 5px;
    border-radius: 5px;
}
.title-counter {
    font-size: 12px;
    margin: 0;
    text-align: center;
    font-weight: 700;
}
.counter {
    font-size: 22px;
    margin: 0;
    text-align: center;   
}

.big-title {
    float: left;
    border-radius: 10px;
    margin-top: -20px;
    margin-left: 20px;
    padding: 5px;
    /* position: absolute; */
    align-self: flex-start;
    text-align: center;
    background-color: cyan;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
.big-title > h3 {
    margin: 0;
}
.controller{
    position: absolute;
    bottom: 20vh;
    
}
.second {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: auto;
}
.second-container {
    display: flex;
    flex:4;
    height: 80vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Image */
.container-foto-img {
    width: 13vw;
    height: 18vw;
    object-fit:fill;
}
.container-foto {
    height: 18vw;
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    border-color: brown;
    overflow: hidden;
}

/* Right Pattern */
.logo__partai {
    width: 40vw;
    height: 10vh;
    right: 0;
    display: flex;
    justify-content: flex-end;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.trivurat {
    width: 40vw;
    height: 40vh;
    right: 0;
    display: flex;
    justify-content: flex-end;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Style Pannel */
.style-button {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;

}
.style-button,
.style-button > a {
    text-decoration: none;
}
i{
    font-size: 20px;
}

.style-panel {
    width: 30vw;
    height: 80vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: lightgrey;
}
.style-panel,
.style-panel > h2 {
    margin: 2;
}
.setting-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

/* Entrance */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
}
.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  
  /* exits */

.roll-out-bottom {
    -webkit-animation: roll-out-bottom 1s ease-in both;
            animation: roll-out-bottom 1s ease-in both;
}

@-webkit-keyframes roll-out-bottom {
    0% {
      -webkit-transform: translateY(0) rotate(0deg);
              transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(800px) rotate(540deg);
              transform: translateY(800px) rotate(540deg);
      opacity: 0;
    }
  }
  @keyframes roll-out-bottom {
    0% {
      -webkit-transform: translateY(0) rotate(0deg);
              transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(800px) rotate(540deg);
              transform: translateY(800px) rotate(540deg);
      opacity: 0;
    }
  }
  
  /* text effects */
  .swing-in-bottom-bck {
	-webkit-animation: swing-in-bottom-bck 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-bottom-bck 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }

    @-webkit-keyframes swing-in-bottom-bck {
        0% {
          -webkit-transform: rotateX(-70deg);
                  transform: rotateX(-70deg);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
          opacity: 1;
        }
      }
      @keyframes swing-in-bottom-bck {
        0% {
          -webkit-transform: rotateX(-70deg);
                  transform: rotateX(-70deg);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
          opacity: 1;
        }
      }
      
/* entrance panel style */
.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }